{
    "extends": "airbnb-base",
    "env": {
        "es6": true,
        "browser": true
    },
    "parserOptions": {
        "ecmaVersion": 2020,
        "ecmaFeatures": {
            "modules": true
        }
    },
    "rules": {
        "indent": ["error", 4, {
            "SwitchCase": 1
        }],
        "max-len": ["error", 100, 4, {
            "ignoreUrls": true,
            "ignoreComments": true,
            "ignoreRegExpLiterals": true,
            "ignoreStrings": true,
            "ignoreTemplateLiterals": true
        }],
        "max-classes-per-file": "off",
        "object-curly-newline": "off",
        "operator-linebreak": ["error", "after", { "overrides": { "?": "before", ":": "before" } }],
        "no-unused-vars": ["warn"],
        "no-console": ["warn", { "allow": ["warn", "error"] }]
    }
}
